<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70389988900-2hb624hrcin5ja8slenplcbnsfi4f30c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70389988900-2hb624hrcin5ja8slenplcbnsfi4f30c</string>
	<key>API_KEY</key>
	<string>AIzaSyBdADBv4SXpiSQ_DUzQmoJ8KxCyzc8WErM</string>
	<key>GCM_SENDER_ID</key>
	<string>70389988900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPerformance</string>
	<key>PROJECT_ID</key>
	<string>flutter-performance-1004</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-performance-1004.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70389988900:ios:c64e63b88698db8242a2b1</string>
</dict>
</plist>